.download_app{
background: #FFEDDE;
padding-top:1.5625vw;
}
.download_contain{
display:grid;
grid-template-columns: 1fr 1fr;
padding-top: 1.5625vw;
}
.download_head{
font-family: 'Poppins';
font-style: 'normal';
font-size: 2.5vw;
line-height:3.385vw;
color: #2E266F;
width:24.73vw;
display: inline-block;
margin-left:1.5625vw;
vertical-align: middle;
text-transform: capitalize;
}
.download_content{
font-family:'Poppins';
font-style: 'regular';
font-size:0.729vw;
line-height:1.25vw;
color:#707070;
width:23.38vw;
margin-left:2.5625vw;
}
.googlePlay{
background: #000000;
border-radius:0.520vw;
width:9.270vw;
color:#ffff;
}