@media only screen and (min-width:602px){
.navbar-brand{
 color:#FE043C;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size:3.75vw;
line-height:5.625vw;

} 
.space{
padding-left:6.927vw;
padding-right:6.979vw;
} 
.nav-link{
font-family:'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size:0.833vw;
line-height:1.25vw;
text-align: center;
color: #2E266F;
}
.users{
width:1.5625vw;
height:1.5625vw;
}
.signin_button{
background-color:red;
width:100px;
height: 20px;
}
}

